exportPattern("^[[:alpha:]]+")
import("numDeriv")
importFrom("MASS", "ginv", "rms.curv")
importFrom("grDevices", "dev.new", "graphics.off")
importFrom("graphics", "abline", "box", "hist", "lines", "par", "plot", "points")
importFrom("stats", "cor", "dnorm", "median", "na.omit", "optim", "pnorm", "qf", "qnorm", "quantile", "sd")